<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>COVID-19 Daily Rate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<section id="section">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="new1" href="index.html">Covid-19</a>
      <div class="navbar" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="navbar-brand" id="new" href="index.html">Covid-19</a>
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          <!-- </li>
          </li>
          <li class="nav-item active"> -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              States
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="arizona.html">Arizona</a>
              <a class="dropdown-item" href="california.html">California</a>
              <a class="dropdown-item" href="colorado.html">Colorado</a>
              <a class="dropdown-item" href="florida.html">Florida</a>
              <a class="dropdown-item" href="louisiana.html">Louisiana</a>
              <a class="dropdown-item" href="new_jersey.html">New Jersey</a>
              <a class="dropdown-item" href="new_york.html">New York</a>
              <a class="dropdown-item" href="oklahoma.html">Oklahoma</a>
              <a class="dropdown-item" href="oregon.html">Oregon</a>
              <a class="dropdown-item" href="texas.html">Texas</a>
              <a class="dropdown-item" href="virginia.html">Virginia</a>
            </div>
          <!-- </li>
          <li class="nav-item active"> -->
            <a class="nav-link" href="download.html">Download <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="contact.html">Contact <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
  </nav>
</section>

<body>
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- column -->
      <div class="col-md-12">

        <div class="box" id="main-text">
          <h1>Download Links<h1>
          <!-- <section id="figure">
            <img id="detailed-image" src="Resources\assets\images\Fig1.png">
          </section> -->
          <!-- <h3>-Download Links-</h3> -->
          <h2>Below you can find links to download the state specific excel sheets used to create the graphs on this website. The data on these excel sheets are compiled from the Johns Hopkins University data. To view the Johns Hopkins University raw data files, please go back to the home page where you will find links to their website.</h2>
          <!-- <h3>-Info-</h3> -->
          <h2><small></small></h2>
          <h2><small></small></h2>
          <ul>
            <li><a href="..\data\arizona_data\arizona_master_file.xls">arizona</a></li>
            <li><a href="..\data\california_data\california_master_file.xls">california</a></li>
            <li><a href="..\data\colorado_data\colorado_master_file.xls">colorado</a></li>
            <li><a href="..\data\florida_data\arizona_master_file.xls">florida</a></li>
            <li><a href="..\data\kentucky_data\kentucky_master_file.xls">kentucky</a></li>
            <li><a href="..\data\louisiana_data\louisiana_master_file.xls">louisiana</a></li>
            <li><a href="..\data\new jersey_data\new jersey_master_file.xls">new jersey</a></li>
            <li><a href="..\data\new york_data\new york_master_file.xls">new york</a></li>
            <li><a href="..\data\oklahoma_data\oklahoma_master_file.xls">oklahoma</a></li>
            <li><a href="..\data\oregon_data\oregon_master_file.xls">oregon</a></li>
            <li><a href="..\data\tennessee_data\tennessee_master_file.xls">tennessee</a></li>
            <li><a href="..\data\texas_data\texas_master_file.xls">texas</a></li>
            <li><a href="..\data\virginia_data\virginia_master_file.xls">virginia</a></li>
          </ul>
        </div>

      </div>

      </div>

    </div>

  </div>

</body>