<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>COVID-19 Daily Rate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="style.css">
</head>

<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">Covid-19</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              States
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="index.html">Home</a>
              <a class="dropdown-item" href="arizona.html">Arizona</a>
              <a class="dropdown-item" href="california.html">California</a>
              <a class="dropdown-item" href="colorado.html">Colorado</a>
              <a class="dropdown-item" href="florida.html">Florida</a>
              <a class="dropdown-item" href="new_jersey.html">New Jersey</a>
              <a class="dropdown-item" href="new_york.html">New York</a>
              <a class="dropdown-item" href="oklahoma.html">Oklahoma</a>
              <a class="dropdown-item" href="oregon.html">Oregon</a>
              <a class="dropdown-item" href="texas.html">Texas</a>
              <a class="dropdown-item" href="virginia.html">Virginia</a>
            </div>
            <li class="nav-item active">
              <a class="nav-link" href="contact.html">Contact</a>
            </li> 
        </ul>
      </div>
  </nav>
</section>

<body>
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- column -->
      <div class="col-md-12">

        <div class="box" id="main-text">
          <h1>New Jersey<h1>
            <section id="figure">
              <center>-All Counties confirmed cases-</center>
              <br>
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_bar_confirmed.png">
              <br>
              <center>-Counties under 10 confirmed cases-</center>
              <br>
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_bar_confirmed1.png">
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_confirmed_fig_1.png">
              <br>
              <center>-Counties with 10-50 confirmed cases-</center>
              <br>
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_bar_confirmed2.png">
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_confirmed_fig_2.png">
              <br>
              <center>-Counties with 50-300 confirmed cases-</center>
              <br>
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_bar_confirmed3.png">
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_confirmed_fig_3.png">
              <br>
              <center>-Counties with 300-5000 confirmed cases-</center>
              <br>
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_bar_confirmed4.png">
              <img id="detailed-image" src="..\data\new jersey_data\new jersey_confirmed_fig_4.png">
              <!-- <br> -->
              <!-- <center>-Counties with 5000+ confirmed cases-</center>
              <br>
              <img id="detailed-image" src="new jersey_data\new jersey_bar_confirmed5.png">
              <img id="detailed-image" src="new jersey_data\new jersey_confirmed_fig_5.png"> -->
            </section>
          </div>

      </div>

      </div>

    </div>

  </div>

</body>