.navbar {
    padding: 10px;
}

.navbar li a{
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border-radius: 20px;
    font-size: x-large;
    border-bottom: 1px solid transparent;
    border-color: white;
}

.navbar a{
    font-size: x-large;
    padding: 0;
    margin-left: 15%;
}

.box{
    margin-top: 25px;
    padding: 20px;
}

.box h1{
    font-size: xx-large;
}

.box h2{
    font-size: larger;
    line-height: 40px;
}

#main-text{
    width: 95%;
}
#main-image{
    float:left;
    width: 250px;
    height:250px;
    margin-right: 20px;
}

img {
    width: 85%;
    height: auto;
}

.navbar li a:hover{
    background: rgb(8, 142, 187);
}

@media (max-width: 980px) {
    .navbar{
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size:40px;
        padding: 10px;
    }


    .navbar li a{
        border-bottom: 3px solid transparent;
        border-color: white;
    }

    ul li{
        text-align: center;
    }
  }
